.header {
  background-color: #34C88A;
  padding: 10px 20px;
  padding-bottom: 0;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: relative;
  bottom: 10px;
}

.logo img {
  height: 65px;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  gap: 30px;
  align-items: center;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.header-right {
  width: 100%;
  display: flex;
  justify-content: end;
}

.languages {
  display: flex;
  gap: 10px;
}

.languages span {
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.languages span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.languages span:hover::after {
  transform: scaleX(1);
}

.sign-in {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  gap: 5px;
  position: relative;
  bottom: 21px;
}

.sign-in a{
  color: #ffffff;
  text-decoration: none;
}
